In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm

import requests  # requests 모듈 임포트

In [2]:
def download_file(file_url, save_path):
    with open(save_path, 'wb') as f: # 저장할 파일을 바이너리 쓰기 모드로 열기
        response = requests.get(file_url) # 파일 URL에 GET 요청 보내기
        f.write(response.content) # 응답의 내용을 파일에 쓰기

temp=pd.DataFrame()

for i in tqdm(range(1,32)):
    if i < 10:
        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022010{i}0000&tm2=2022010{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022010{i}1200&tm2=2022010{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        
    else:

        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202201{i}0000&tm2=202201{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202201{i}1200&tm2=202201{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'

    save_file_path = f'../data./tp/temp_a_{i}.csv'
    save_file_path1 = f'../data./tp/temp_b_{i}.csv'


    # 파일 다운로드 함수를 호출합니다.
    download_file(url, save_file_path)
    download_file(url1, save_file_path1)
    
    # print download state
    print('Download complete\n')
    
    temp_a = pd.read_csv(f'../data./tp/temp_a_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    temp_b = pd.read_csv(f'../data./tp/temp_b_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    # Remove last row (END command)
    temp_a.drop(len(temp_a)-1, inplace=True)
    temp_b.drop(len(temp_b)-1, inplace=True)
    
    if i == 1:
        temp = pd.concat([temp, temp_a])
        temp = pd.concat([temp, temp_b])
    
    else:
        temp = pd.concat([temp, temp_a, temp_b])

  3%|▎         | 1/31 [00:04<02:14,  4.48s/it]

Download complete

  6%|▋         | 2/31 [00:24<06:38, 13.76s/it]

Download complete

 10%|▉         | 3/31 [01:04<12:03, 25.85s/it]

Download complete

 13%|█▎        | 4/31 [01:43<13:55, 30.96s/it]

Download complete

 16%|█▌        | 5/31 [02:23<14:48, 34.18s/it]

Download complete

 19%|█▉        | 6/31 [03:03<14:59, 35.99s/it]

Download complete

 23%|██▎       | 7/31 [03:42<14:50, 37.09s/it]

Download complete

 26%|██▌       | 8/31 [04:22<14:33, 37.96s/it]

Download complete

 29%|██▉       | 9/31 [05:01<14:02, 38.29s/it]

Download complete

 32%|███▏      | 10/31 [05:40<13:26, 38.42s/it]

Download complete

 35%|███▌      | 11/31 [06:19<12:52, 38.61s/it]

Download complete

 39%|███▊      | 12/31 [06:58<12:20, 39.00s/it]

Download complete

 42%|████▏     | 13/31 [07:37<11:41, 38.98s/it]

Download complete

 45%|████▌     | 14/31 [08:17<11:04, 39.07s/it]

Download complete

In [ ]:
temp.to_csv('../data/imsi_jan_.csv')
temp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,202201010000,129.0,139.4,0.0,145.9,0.8,145.5,1.4,-9.1,0.0,0.0,0.0,0.0,0.0,76.7,1030.4,1033.8,-12.4,=
1,202201010001,129.0,155.8,0.0,167.6,0.1,142.7,1.2,-9.1,0.0,0.0,0.0,0.0,0.0,76.3,1030.3,1033.7,-12.5,=
2,202201010002,129.0,154.7,0.0,0.0,0.0,140.3,0.9,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
3,202201010003,129.0,301.9,0.0,0.0,0.0,138.2,0.7,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
4,202201010004,129.0,260.0,0.0,0.0,0.0,135.5,0.5,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,202201312355,129.0,123.1,0.0,135.2,0.7,175.1,0.6,-1.2,0.0,0.0,0.0,3.1,3.1,95.5,1020.5,1023.7,-1.8,=
716,202201312356,129.0,148.1,0.7,147.1,1.1,170.2,0.7,-1.2,0.0,0.0,0.0,3.1,3.1,95.8,1020.5,1023.7,-1.8,=
717,202201312357,129.0,155.4,0.4,163.8,1.2,167.9,0.7,-1.3,0.0,0.0,0.0,3.1,3.1,95.9,1020.6,1023.8,-1.9,=
718,202201312358,129.0,184.8,1.3,198.4,1.6,170.2,0.9,-1.3,0.0,0.0,0.0,3.1,3.1,95.9,1020.6,1023.8,-1.9,=
719,202201312359,129.0,197.8,1.2,193.3,1.3,170.9,0.8,-1.3,0.0,0.0,0.0,3.1,3.1,95.8,1020.6,1023.8,-1.9,=

In [ ]:
# 2022 02

for i in tqdm(range(1,29)):
    if i < 10:
        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022020{i}0000&tm2=2022020{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022020{i}1200&tm2=2022020{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        
    else:

        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202202{i}0000&tm2=202202{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202202{i}1200&tm2=202202{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'

    save_file_path = f'../data./tp/temp_a_{i}.csv'
    save_file_path1 = f'../data./tp/temp_b_{i}.csv'


    # 파일 다운로드 함수를 호출합니다.
    download_file(url, save_file_path)
    download_file(url1, save_file_path1)
    
    # print download state
    print('Download complete\n')
    
    temp_a = pd.read_csv(f'../data./tp/temp_a_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    temp_b = pd.read_csv(f'../data./tp/temp_b_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    # Remove last row (END command)
    temp_a.drop(len(temp_a)-1, inplace=True)
    temp_b.drop(len(temp_b)-1, inplace=True)
    
    temp = pd.concat([temp, temp_a, temp_b])

  4%|▎         | 1/28 [00:40<18:17, 40.65s/it]

Download complete

  7%|▋         | 2/28 [01:22<17:56, 41.41s/it]

Download complete

 11%|█         | 3/28 [02:03<17:11, 41.25s/it]

Download complete

 14%|█▍        | 4/28 [02:44<16:25, 41.06s/it]

Download complete

 18%|█▊        | 5/28 [03:25<15:45, 41.09s/it]

Download complete

 21%|██▏       | 6/28 [04:07<15:06, 41.23s/it]

Download complete

 25%|██▌       | 7/28 [04:49<14:31, 41.48s/it]

Download complete

 29%|██▊       | 8/28 [05:30<13:46, 41.33s/it]

Download complete

 32%|███▏      | 9/28 [06:11<13:06, 41.37s/it]

Download complete

 36%|███▌      | 10/28 [06:53<12:30, 41.68s/it]

Download complete

 39%|███▉      | 11/28 [07:35<11:48, 41.67s/it]

Download complete

 43%|████▎     | 12/28 [08:17<11:06, 41.63s/it]

Download complete

 46%|████▋     | 13/28 [08:57<10:20, 41.33s/it]

Download complete

 50%|█████     | 14/28 [09:38<09:35, 41.12s/it]

Download complete

 54%|█████▎    | 15/28 [10:19<08:55, 41.17s/it]

Download complete

 57%|█████▋    | 16/28 [10:59<08:08, 40.73s/it]

Download complete

 61%|██████    | 17/28 [11:39<07:24, 40.41s/it]

Download complete

 64%|██████▍   | 18/28 [12:20<06:46, 40.69s/it]

Download complete

 68%|██████▊   | 19/28 [13:00<06:04, 40.45s/it]

Download complete

 71%|███████▏  | 20/28 [13:40<05:23, 40.43s/it]

Download complete

 75%|███████▌  | 21/28 [14:21<04:43, 40.44s/it]

Download complete

 79%|███████▊  | 22/28 [15:01<04:03, 40.55s/it]

Download complete

 82%|████████▏ | 23/28 [15:43<03:24, 40.84s/it]

Download complete

 86%|████████▌ | 24/28 [16:24<02:43, 41.00s/it]

Download complete

 89%|████████▉ | 25/28 [17:04<02:02, 40.76s/it]

Download complete

 93%|█████████▎| 26/28 [17:46<01:22, 41.05s/it]

Download complete

 96%|█████████▋| 27/28 [18:26<00:40, 40.57s/it]

Download complete

100%|██████████| 28/28 [19:06<00:00, 40.96s/it]

Download complete

In [ ]:
#2022 03

for i in tqdm(range(1,32)):
    if i < 10:
        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022030{i}0000&tm2=2022030{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=2022030{i}1200&tm2=2022030{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        
    else:

        url = f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202203{i}0000&tm2=202203{i}1159&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'
        url1 =f'https://apihub.kma.go.kr/api/typ01/cgi-bin/url/nph-aws2_min?tm1=202203{i}1200&tm2=202203{i}2359&stn=129&disp=1&help=1&authKey=2izc0OqiSVGs3NDqoqlR-A'

    save_file_path = f'../data./tp/temp_a_{i}.csv'
    save_file_path1 = f'../data./tp/temp_b_{i}.csv'


    # 파일 다운로드 함수를 호출합니다.
    download_file(url, save_file_path)
    download_file(url1, save_file_path1)
    
    # print download state
    print('Download complete\n')
    
    temp_a = pd.read_csv(f'../data./tp/temp_a_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    temp_b = pd.read_csv(f'../data./tp/temp_b_{i}.csv', 
                         header=None, 
                         encoding='cp949', skiprows=22)
    
    # Remove last row (END command)
    temp_a.drop(len(temp_a)-1, inplace=True)
    temp_b.drop(len(temp_b)-1, inplace=True)
    
    temp = pd.concat([temp, temp_a, temp_b])

  3%|▎         | 1/31 [00:41<20:45, 41.51s/it]

Download complete

  6%|▋         | 2/31 [01:22<19:52, 41.13s/it]

Download complete

 10%|▉         | 3/31 [02:03<19:10, 41.09s/it]

Download complete

 13%|█▎        | 4/31 [02:44<18:24, 40.90s/it]

Download complete

 16%|█▌        | 5/31 [03:24<17:39, 40.75s/it]

Download complete

 19%|█▉        | 6/31 [04:05<16:58, 40.73s/it]

Download complete

 23%|██▎       | 7/31 [04:45<16:17, 40.73s/it]

Download complete

 26%|██▌       | 8/31 [05:26<15:32, 40.52s/it]

Download complete

 29%|██▉       | 9/31 [06:06<14:50, 40.48s/it]

Download complete

 32%|███▏      | 10/31 [06:48<14:17, 40.85s/it]

Download complete

 35%|███▌      | 11/31 [07:28<13:32, 40.62s/it]

Download complete

 39%|███▊      | 12/31 [08:09<12:53, 40.69s/it]

Download complete

 42%|████▏     | 13/31 [08:49<12:13, 40.74s/it]

Download complete

 45%|████▌     | 14/31 [09:30<11:30, 40.62s/it]

Download complete

 48%|████▊     | 15/31 [10:10<10:47, 40.45s/it]

Download complete

 52%|█████▏    | 16/31 [10:50<10:07, 40.53s/it]

Download complete

 55%|█████▍    | 17/31 [11:32<09:30, 40.74s/it]

Download complete

 58%|█████▊    | 18/31 [12:13<08:50, 40.82s/it]

Download complete

 61%|██████▏   | 19/31 [12:53<08:09, 40.79s/it]

Download complete

 65%|██████▍   | 20/31 [13:35<07:29, 40.91s/it]

Download complete

 68%|██████▊   | 21/31 [14:15<06:48, 40.85s/it]

Download complete

 71%|███████   | 22/31 [14:56<06:08, 40.91s/it]

Download complete

 74%|███████▍  | 23/31 [15:38<05:29, 41.14s/it]

Download complete

 77%|███████▋  | 24/31 [16:18<04:46, 40.92s/it]

Download complete

 81%|████████  | 25/31 [17:00<04:06, 41.10s/it]

Download complete

 84%|████████▍ | 26/31 [17:42<03:27, 41.48s/it]

Download complete

 87%|████████▋ | 27/31 [18:23<02:45, 41.37s/it]

Download complete

 90%|█████████ | 28/31 [19:05<02:03, 41.30s/it]

Download complete

 94%|█████████▎| 29/31 [19:46<01:22, 41.19s/it]

Download complete

 97%|█████████▋| 30/31 [20:26<00:41, 41.01s/it]

Download complete

100%|██████████| 31/31 [21:07<00:00, 40.89s/it]

Download complete

In [26]:
column_name = ['date','id','wd1','ws1','wds','wss','wd10','ws10','ta','re','rn-15m','rn-60m','rn-12h','rn-day','hm','pa','ps','td','etc']
temp.columns=column_name
temp.drop('etc', axis=1, inplace=True)

In [24]:
temp.date = pd.to_datetime(temp.date)
temp.reset_index(drop=True, inplace=True)
temp

,date,id,wd1,ws1,wds,wss,wd10,ws10,ta,re,rn-15m,rn-60m,rn-12h,rn-day,hm,pa,ps,td
0,2022-01-01 00:00:00,129.0,139.4,0.0,145.9,0.8,145.5,1.4,-9.1,0.0,0.0,0.0,0.0,0.0,76.7,1030.4,1033.8,-12.4
1,2022-01-01 00:01:00,129.0,155.8,0.0,167.6,0.1,142.7,1.2,-9.1,0.0,0.0,0.0,0.0,0.0,76.3,1030.3,1033.7,-12.5
2,2022-01-01 00:02:00,129.0,154.7,0.0,0.0,0.0,140.3,0.9,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
3,2022-01-01 00:03:00,129.0,301.9,0.0,0.0,0.0,138.2,0.7,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
4,2022-01-01 00:04:00,129.0,260.0,0.0,0.0,0.0,135.5,0.5,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129595,2022-03-31 23:55:00,129.0,308.0,0.1,315.0,1.0,52.6,1.0,6.1,0.0,0.0,0.0,0.0,0.0,81.5,1024.6,1027.8,3.2
129596,2022-03-31 23:56:00,129.0,7.9,0.4,14.0,1.1,43.6,0.8,6.1,0.0,0.0,0.0,0.0,0.0,81.8,1024.6,1027.8,3.2
129597,2022-03-31 23:57:00,129.0,72.4,0.0,314.5,0.4,34.2,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.1,1024.6,1027.8,3.3
129598,2022-03-31 23:58:00,129.0,22.1,1.6,42.3,1.8,16.9,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.4,1024.6,1027.8,3.3
129599,2022-03-31 23:59:00,129.0,26.2,1.6,20.6,1.8,6.8,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.4,1024.6,1027.8,3.3

In [26]:
jan = pd.read_csv('../data/imsi_jan_12.csv')

In [27]:
jan

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0,202201010000,129.0,139.4,0.0,145.9,0.8,145.5,1.4,-9.1,0.0,0.0,0.0,0.0,0.0,76.7,1030.4,1033.8,-12.4,=
1,1,202201010001,129.0,155.8,0.0,167.6,0.1,142.7,1.2,-9.1,0.0,0.0,0.0,0.0,0.0,76.3,1030.3,1033.7,-12.5,=
2,2,202201010002,129.0,154.7,0.0,0.0,0.0,140.3,0.9,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
3,3,202201010003,129.0,301.9,0.0,0.0,0.0,138.2,0.7,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
4,4,202201010004,129.0,260.0,0.0,0.0,0.0,135.5,0.5,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,715,202201312355,129.0,123.1,0.0,135.2,0.7,175.1,0.6,-1.2,0.0,0.0,0.0,3.1,3.1,95.5,1020.5,1023.7,-1.8,=
44636,716,202201312356,129.0,148.1,0.7,147.1,1.1,170.2,0.7,-1.2,0.0,0.0,0.0,3.1,3.1,95.8,1020.5,1023.7,-1.8,=
44637,717,202201312357,129.0,155.4,0.4,163.8,1.2,167.9,0.7,-1.3,0.0,0.0,0.0,3.1,3.1,95.9,1020.6,1023.8,-1.9,=
44638,718,202201312358,129.0,184.8,1.3,198.4,1.6,170.2,0.9,-1.3,0.0,0.0,0.0,3.1,3.1,95.9,1020.6,1023.8,-1.9,=
44639,719,202201312359,129.0,197.8,1.2,193.3,1.3,170.9,0.8,-1.3,0.0,0.0,0.0,3.1,3.1,95.8,1020.6,1023.8,-1.9,=

In [28]:
temp.to_csv('../data/kma_202201_202203.csv', index=False)
temp.to_excel('../data/kma_202201_202203.xlsx', index=False)

In [3]:
df = pd.read_csv('../data/kma_202201_202203.csv')

In [4]:
df

,date,id,wd1,ws1,wds,wss,wd10,ws10,ta,re,rn-15m,rn-60m,rn-12h,rn-day,hm,pa,ps,td
0,2022-01-01 00:00:00,129.0,139.4,0.0,145.9,0.8,145.5,1.4,-9.1,0.0,0.0,0.0,0.0,0.0,76.7,1030.4,1033.8,-12.4
1,2022-01-01 00:01:00,129.0,155.8,0.0,167.6,0.1,142.7,1.2,-9.1,0.0,0.0,0.0,0.0,0.0,76.3,1030.3,1033.7,-12.5
2,2022-01-01 00:02:00,129.0,154.7,0.0,0.0,0.0,140.3,0.9,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
3,2022-01-01 00:03:00,129.0,301.9,0.0,0.0,0.0,138.2,0.7,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
4,2022-01-01 00:04:00,129.0,260.0,0.0,0.0,0.0,135.5,0.5,-9.1,0.0,0.0,0.0,0.0,0.0,76.1,1030.3,1033.7,-12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129595,2022-03-31 23:55:00,129.0,308.0,0.1,315.0,1.0,52.6,1.0,6.1,0.0,0.0,0.0,0.0,0.0,81.5,1024.6,1027.8,3.2
129596,2022-03-31 23:56:00,129.0,7.9,0.4,14.0,1.1,43.6,0.8,6.1,0.0,0.0,0.0,0.0,0.0,81.8,1024.6,1027.8,3.2
129597,2022-03-31 23:57:00,129.0,72.4,0.0,314.5,0.4,34.2,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.1,1024.6,1027.8,3.3
129598,2022-03-31 23:58:00,129.0,22.1,1.6,42.3,1.8,16.9,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.4,1024.6,1027.8,3.3
129599,2022-03-31 23:59:00,129.0,26.2,1.6,20.6,1.8,6.8,0.7,6.1,0.0,0.0,0.0,0.0,0.0,82.4,1024.6,1027.8,3.3

In [6]:
df.columns

Index(['date', 'id', 'wd1', 'ws1', 'wds', 'wss', 'wd10', 'ws10', 'ta', 're',
       'rn-15m', 'rn-60m', 'rn-12h', 'rn-day', 'hm', 'pa', 'ps', 'td'],
      dtype='object')

In [8]:
temp = df.iloc[:,[0,8,14]]

In [9]:
temp

                       date   ta    hm
0       2022-01-01 00:00:00 -9.1  76.7
1       2022-01-01 00:01:00 -9.1  76.3
2       2022-01-01 00:02:00 -9.1  76.1
3       2022-01-01 00:03:00 -9.1  76.1
4       2022-01-01 00:04:00 -9.1  76.1
...                     ...  ...   ...
129595  2022-03-31 23:55:00  6.1  81.5
129596  2022-03-31 23:56:00  6.1  81.8
129597  2022-03-31 23:57:00  6.1  82.1
129598  2022-03-31 23:58:00  6.1  82.4
129599  2022-03-31 23:59:00  6.1  82.4

[129600 rows x 3 columns]

In [10]:
temp.to_csv('../data/tmep.csv', index=False)

In [12]:
z1 = pd.read_csv('../data/z1.csv')

In [21]:
z1.rename(columns={'Description':'Date'},inplace=True)

In [20]:
temp.rename(columns={'date':'Date'},inplace=True)

C:\Users\CSK\AppData\Local\Temp\ipykernel_21264\158076733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.rename(columns={'date':'Date'},inplace=True)

In [22]:
df = pd.merge(z1,temp,how="inner",on="Date")

In [23]:
df

,Date,STACK NOX,SCR A Inlet O2 1 Sel,SCR A Outlet O2 1 Sel,ECON B OUT GAS O2 ANAL,SCR B Inlet Duct Press,FURN GAS PRESS,SCR A Outlet Duct Press,MAIN STM TEMP,SCR A Outlet NH3 1 Sel,...,AH A OUT GAS TEMP,SCR B I/L Duct Nox/O2 Anal Sel,TOTAL COAL FLOW WITHOUT CALORI,FWT(Feed Water Tank) PRESS,MAIN STEAM PRESS,RH(Reheater) OUT STM PRESS(To IP Turbine),AH A IN PRIM AIR PRESS,CRH A STM PRESS SELECTION,ta,hm
0,2022-01-02 18:23:00,-0.696720,1.780565,2.991449,2.256335,1.092835,0.794482,1.119847,-0.239467,-2.623049,...,-0.803235,-1.951646,-1.054610,-2.245224,-2.225343,-2.028138,1.154996,-2.026161,-1.5,68.7
1,2022-01-02 18:26:00,-1.136638,2.060365,2.844743,2.193955,1.241182,0.187569,0.825091,-0.573274,-2.934943,...,-0.732489,-1.983516,-1.094731,-2.148095,-2.214059,-1.994608,1.173750,-1.994063,-1.5,69.4
2,2022-01-02 18:28:00,-1.072279,2.094039,2.970381,1.718137,1.800609,0.376263,1.109972,-0.748070,-2.978062,...,-0.705726,-1.963824,-1.076626,-2.192102,-2.247237,-2.047210,1.242733,-2.044568,-1.5,71.3
3,2022-01-02 18:29:00,-0.964906,1.876524,2.476940,1.246795,0.571312,0.333397,0.804488,-0.280129,-2.135760,...,-0.671157,-1.991270,-1.069302,-2.206725,-2.251125,-2.059985,1.402284,-2.055574,-1.5,71.0
4,2022-01-02 18:30:00,-1.090287,1.899278,2.646269,1.435392,0.505971,-0.433901,0.597248,0.537152,-1.585906,...,-0.655258,-1.883006,-1.073603,-2.220357,-2.234001,-2.057402,1.130145,-2.053294,-1.5,70.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62775,2022-03-16 11:41:00,0.265857,0.000963,-0.178544,2.395042,-1.810446,0.420922,-1.151115,-1.762902,0.006577,...,0.204051,0.327606,1.876406,1.118065,1.125768,1.146253,0.446107,1.134180,12.6,44.1
62776,2022-03-16 11:42:00,0.161821,-0.907756,-0.520904,1.760988,-0.913002,1.519289,-1.338824,-0.996386,0.006577,...,0.163715,0.638279,2.061500,1.111407,1.109180,1.168355,0.571459,1.168223,12.7,42.6
62777,2022-03-16 11:43:00,0.237987,-0.725154,-0.598766,0.966108,-1.782670,1.250577,-1.370039,0.475098,0.006577,...,0.149471,0.913418,2.345914,1.210235,1.155295,1.304677,0.710798,1.309256,12.8,38.6
62778,2022-03-16 11:44:00,0.395763,-1.366680,-0.785705,0.135387,-1.641799,2.296248,-1.620015,1.654851,0.006577,...,0.152344,1.078345,2.513985,1.422461,1.216345,1.519712,0.757007,1.517956,12.8,35.3
62779,2022-03-16 11:46:00,0.555046,-1.223041,-0.877462,-0.264822,-1.718859,2.723956,-1.633512,1.829571,0.006577,...,0.200723,1.279399,2.690663,1.997632,1.291182,1.999024,1.096354,1.999864,12.9,36.0

In [24]:
df.to_csv('../data/comple_pre.csv', index=False)